body {
    font-family: 'Chivo Mono', monospace;

}

h1 {
    font-size: 40px;
    color: coralf;

}

.oranage-color {
    color: orange;
}

section {
    display: flex;
}

.half_width {
    width: 50%;
    padding-left: 5%;

}

.half_width image {
    width: 2%;
}

.link_button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px 10px 5px;
    color: white;
    font-weight: 200;
    border-radius: 5px;
}

.ant_man {
    width: 40%;
}